:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.my-4 {
  margin-block: 4rem;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
button[isVisible="false"],
.d-hidden {
  display: none;
}
button[isVisible="true"],
.d-show {
  display: inline-block;
}
/* components */
.videos {
  /* display: flex; */
  /* max-width: 50%; */
  gap: 3rem;
  /* margin-inline: auto; */
  position: relative;
}
.container {
  max-width: 35rem;
  margin-inline: auto;
}

video[localPeer] {
}

video {
  max-width: 100%;
}

video[localPeer].remoteVisible {
  z-index: 2;
  bottom: 2rem;
  right: 2rem;
  height: auto;
  width: 10rem;
  position: absolute;
}
video[remotePeer].remoteVisible {
  display: block;
}
video[remotePeer] {
  display: none;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* display: none; */
}
